:root {
    --color-local-1: rgb(207, 163, 57);
    --color-local-2: rgb(100, 26, 30);
}

.color-local-1 {
    color: var(--color-local-1);
}

.color-local-2 {
    color: var(--color-local-2);
}

.fondo-local-1 {
    background-color: var(--color-local-1);
}

.fondo-local-2 {
    background-color: var(--color-local-2);
}